<!-- para exibir uma variavel, sempre colocar entre duas {{}}-->
<h1>{{ title }}</h1>
<ul>
  <!--ngFor realiza um loop-->
  <p *ngIf="todos.length == 0">
    <small>Não tem nenhuma tarefa hoje! Adicione uma!</small>
  </p>
  <li *ngFor="let todo of todos">
    {{ todo.id }}. {{ todo.title }} |
    <button (click)="markAsDone(todo)" *ngIf="!todo.done">CONCLUIR</button> |
    <button (click)="markAsUndone(todo)" *ngIf="todo.done">REFAZER</button> |
    <button (click)="remove(todo)">REMOVER</button>
  </li>
</ul>

<!-- eventos para serem executados no TypeScript () , alteração de propriedade []-->
<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input
      type="text"
      placeholder="Titulo da tarefa"
      maxlength="60"
      formControlName="title"
    />
    <small
      *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
      >Este campo deve conter entre 3 e 60 caracteres</small
    >
    <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </fieldset>
</form>
